.social-login 
    button.social-login__github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |     Continue with Github
    button.social-login__facebook
        a(href=routes.kakao)
            span
                i.fas.fa-clipboard-check
            |     Continue with KakaoTalk 